# package directories
node_modules
jspm_packages

# Logs
logs
*.log
npm-debug.log*

# Serverless directories
.serverless

# Webpack directories
.webpack

serverless.custom.yml

.eslintcache

.esbuild

.aws

# Env variables
env.yml
.env
.env.*